<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='css/colors.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='css/style.css')}}">
</head>
<body>
<div class="container-fluid">
    <div class="nav navbar-expand-md navbar-dark bg-dark fixed-top" role="navigation">
        <a class="navbar-brand text-white ml-2">
            <img class="img-fluid" style="border-radius: 50%;" src="{{ url_for('static',filename=data.prflpic) }}" width="50px" height="50px">
            {{ data.username }}
        </a>
        <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#menubar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="menubar">
            <nav class="navbar-nav">
                <a href="{{ url_for('home',rno=data.rno) }}" class="nav-item nav-link">Home</a>
                <a href="{{ url_for('profile',rno=data.rno) }}" class="nav-item nav-link">Profile</a>
                <a href="{{ url_for('findfriends',rno=data.rno) }}" class="nav-item nav-link">Find Friends</a>
                <a href="{{ url_for('notification',rno=data.rno) }}" class="nav-item nav-link active">Notifications</a>
                <a href="{{ url_for('message',rno=data.rno,orno=1604310029) }}" class="nav-item nav-link">Messages</a>
                <a href="{{ url_for('logout') }}" class="nav-item nav-link">Logout</a>
            </nav>
            <form class="form-check-inline my-2 my-lg-0 ml-auto" method="post" action="{{ url_for('search',rno=data.rno) }}">
                <input class="form-control text-center" placeholder="Search" type="text" name="searchd">
                <button class="btn" type="submit" ><img src="{{ url_for('static',filename='images/searchlogo.png') }}" height="25px" width="25px"/></button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding-top: 60px;">
    <div class="row">
        <div class="col-lg-12 cbox">
            <div class="row">
                    {% for i in range(20) %}
                    <div class="media m-2">
                        <img src="{{ url_for('static',filename=data.prflpic) }}" height="100" width="100" class="img-fluid mr-5" style="border-radius: 50%;">
                        <div class="media-body">
                            <h5>{{ data.username }}</h5>
                            <p>
                                The rose is a flower of love.
                                The world has acclaimed it for centuries. Pink roses are for love hopeful and expectant.
                                White roses are for love dead or forsaken, but the red roses, ah the red roses are for love triumphant.
                            </p>
                        </div>

                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>





<script type="text/javascript" src="{{ url_for('static' ,filename='js/popper.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static' ,filename='js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static' ,filename='js/bootstrap.min.js')}}"></script>
</body>
</html>